@import "css/footer.css";
@import "css/header.css";
@import "css/search.css";
@import "css/main_page.css";
@import "css/main_page_slider.css";
@import "css/goods.css";
@import "css/Ñarousel_mp.css";

