{% extends 'base.html.twig' %}

{% block header %}
    {% include 'shop/header.html.twig' %}
{% endblock %}

{% block body %}

    <div style="width: 100%; height: 500px; background-color: blue;"></div>


{% endblock %}

{% block footer %}
    {% include 'shop/footer.html.twig' %}
{% endblock %}