<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link >
    <link >

</head>
<body>
<div class="">
    <!-- Header -->
    {% block header %}{% endblock %}

    <!-- Main -->
    {% block body %}{% endblock %}

    <!-- Footer -->
    {% block footer %}{% endblock %}
</div>
</body>
</html>